<ul class="list-group">
{% if posts %}
    {% for post in posts %}
        <li class="list-group-item">
        <div class="row">
            <div class="col-sm-8">
                <h5><a href="{{ url_for('.show_post', post_id=post.id) }}">{{ post.title }}</a></h5>
            </div>
            <div class="col-sm-4">
                <p>
                    <span style="float: right;"> {{ post.timestamp }}</span>
                </p>
            </div>
            </div>
        </li>
    {% endfor %}
{% endif %}
</ul>