{% extends "base.html" %}

{% block content %}

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                关于我
            </div>
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">信息安全专业学生</p>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
    <div class="col-sm-12">
        <div class="card" style="width: 18rem;">
        <div class="card-header">
            联系我
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <a href="mailto:dyxdyc@qq.com">dyxdyc@qq.com</a></li>
            <li class="list-group-item">Github: <a href="https://github.com/bufuchangfeng" target="_blank">bufuchangfeng</a></li>
            <li class="list-group-item">CSDN: <a href="https://blog.csdn.net/qq_32862515" target="_blank">不负长风</a></li>
        </ul>
    </div>
    </div>
</div>

<div class="row" style="margin-top: 20px;">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">小艾</h5>
        <p class="card-text"></p>
        <a href="https://aizhengpeng.cn" target="_blank" class="btn btn-primary">小艾的个人主页</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">庄霸</h5>
        <p class="card-text"></p>
        <a href="https://0xshare.me" target="_blank" class="btn btn-primary">式</a>
      </div>
    </div>
  </div>
</div>


<div class="row" style="margin-top: 20px; padding-bottom: 20px;">
    <div class="col-sm-3">
        <div class="card">
            <img src="/static/img/alipay.jpg" class="card-img-top">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="/static/img/wxpay.png" class="card-img-top">
        </div>
    </div>
</div>

{% endblock %}